*.pdb
.vs/MbcsListener/v15/Server/sqlite3/db.lock
bin/Debug/CSharp.xml
bin/Debug/CSharp.dll.config
.vs/Supercharger/WinTrmListener/codemap.dat
*.cache
.vs/
*.InstallLog
obj/x86/Debug/MbcsListener.csproj.CopyComplete
bin/Debug/MbcsListener.log
bin/Debug/MbcsListener.exe.config
bin/Debug/MbcsListener.InstallState
obj/x86/Debug/MbcsListener.csproj.FileListAbsolute.txt
MbcsListener.resx
TemporaryGeneratedFile_*
ProjectInstaller.resx
obj/
bin/Debug/de/
